#labcoat-ui {
  *.labcoat-column {
    display: block;
    position: relative;
    flex: 18rem 1 1;
    margin: 2.1rem .75rem;
    padding: 2.8rem .75rem .7rem;
    max-width: 20rem;
    min-width: 15rem;
    color: $labcoat-columnTextColor;
    background-color: transparentize($labcoat-columnColor, 1 - $labcoat-columnBackgroundOpacity);

    @media (max-width: 32rem) {
      flex: none;
      margin: .5rem;
      padding-top: 3.5rem;
      width: calc(100vw - 2.5rem);
      max-width: none;
      min-width: 0;
    }

    *[data-labcoat-simple] & {
      padding-top: .7rem;
    }

    a[href] {
      color: $labcoat-columnAccentTextColor;

      &:hover {
        color: $labcoat-columnTextColor;
      }
    }
  }

  *.labcoat-heading {
    display: block;
    position: absolute;
    top: -.7rem;
    left: -.625rem;
    margin: 0;
    padding: .5rem .375rem;
    width: calc(100% - .75rem);
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    color: $labcoat-columnHeadingTextColor;
    background-color: $labcoat-columnHeadingColor;
    font-size: 1.4rem;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 2rem;
    text-overflow: ellipsis;

    @media (max-width: 32rem) {
      top: 0;
      left: 0;
    }

    *[data-labcoat-simple] & {
      top: -1.4rem;
      left: -1.4rem;
      width: 2.25rem;
      color: $labcoat-columnHeadingColor;
      background: transparent;

      & *:not(:first-child) {
        display: none;
      }
    }

    i.fa:first-child {
      margin-right: .375rem;
      width: 2.25rem;
    }
  }

  *.labcoat-posts {
    height: calc(100vh - 10.5rem);  //  This *would* be `height: 100%;` but for some reason Safari refuses to respect that.
    overflow-x: hidden;
    overflow-y: auto;

    @media (max-width: 32rem) {
      height: calc(100vh - 8.05rem);

      *[data-labcoat-simple] & {
        height: calc(100vh - 5.25rem);
      }
    }

    *[data-labcoat-simple] & {
      height: calc(100vh - 8.4rem);
    }
  }

  *.labcoat-columnnav {
    display: block;
    padding: 1.4rem 0;

    a[href] {
      display: block;
      margin: 0 0 .5rem;
      padding: .5rem .375rem;
      height: 2rem;
      overflow: hidden;
      white-space: nowrap;
      color: $labcoat-cardTextColor;
      background-color: $labcoat-cardColor;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      text-overflow: ellipsis;
      transition: margin .35s ease-in-out, color .35s, background-color .35s;

      &:hover {
        margin-left: .375rem;
        margin-right: -.375rem;
        color: $labcoat-cardHighlightTextColor;
        background-color: $labcoat-cardHighlightColor;

        *[data-labcoat-reduce_motion] & {
          margin-left: 0;
          margin-right: 0;
          transition: none;
        }
      }

      i.fa:first-child {
        margin-right: .375rem;
        width: 2.25rem;
      }
    }
  }

  *.labcoat-columnfooter {
    display: block;
    font-size: .75rem;
    text-align: center;

    nav a[href] {
      display: inline-block;
      margin: 0 .375em;
    }
  }

  #labcoat-notifications {
    background-color: transparentize($labcoat-columnColor, 1 - $labcoat-notificationBackgroundOpacity);

    *[data-labcoat-no_transparency] & {
      background-color: $labcoat-columnColor;
    }

    *.labcoat-heading, *.labcoat-posts {
      opacity: $labcoat-notificationForegroundOpacity;

      *[data-labcoat-no_transparency] & {
        opacity: 1;
      }
    }
  }

  *.labcoat-status {
    display: block;
    margin: 0 0 .5rem;
    padding: .5rem .375rem;
    overflow: hidden;
    color: $labcoat-cardTextColor;
    background-color: $labcoat-cardColor;
    text-overflow: ellipsis;
    transition: color .5s, background-color .5s;

    &.labcoat-status--highlighted {
      color: $labcoat-cardHighlightTextColor;
      background-color: $labcoat-cardHighlightColor;

      a[href] {
        color: $labcoat-cardHighlightAccentTextColor;

        &:hover {
          color: inherit;
        }
      }
    }

    a[href] {
      color: $labcoat-cardAccentTextColor;

      &:hover {
        color: inherit;
      }
    }

    aside {
      margin: -.5rem -.375rem .5rem;
      padding: .5rem .75rem;
      color: $labcoat-cardAsideTextColor;
      background-color: $labcoat-cardAsideColor;
      font-size: .75rem;
      font-weight: 300;

      &::after {
        content: ":"
      }

      a[href] {
        color: $labcoat-cardAsideAccentTextColor;

        &:hover {
          color: inherit;
        }
      }
    }

    &.labcoat-status--highlighted aside {
      color: $labcoat-cardAsideTextColor;
      background-color: $labcoat-cardAsideColor;

      a[href] {
        color: $labcoat-cardAsideAccentTextColor;

        &:hover {
          color: inherit;
        }
      }
    }

    header {
      margin: 0 0 .5rem;

      time {
        float: right;
        font-size: .75rem;
        font-weight: 300;
      }
    }

    *.labcoat-idcard {
      font-size: 2rem;
      margin: 0 .2em 0 0;
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      margin: .5rem -.375rem -.5rem;
      border-top: thin $labcoat-actionBorderColor solid;
      padding: 0;
      overflow-x: auto;
      overflow-y: hidden;
      text-transform: uppercase;
      font-size: .75rem;
    }
  }

  *.labcoat-statusContent {
    p {
      margin: 0;
      padding: 0 .625em;
      text-align: left;
      white-space: pre-wrap;
      hyphens: auto;

      & + p {
        margin-top: 1.05em;
      }

      a[href] {
        hyphens: none;
      }
    }
  }
}
