@import 'palettes';

//  This stylesheet assigns the default values to SCSS variables used
//  by the Laboratory frontend. You can browse this file to gather a
//  sense for what customizations are available.

/*  FONTS  */

//  Including font files is outside of the scope of this package.
//  You should do that yourself by editing the home view.

$labcoat-sans: "Lato", "Helvetica Neue", "Helvetica", sans-serif !default;
$labcoat-mono: "Inconsolata", "Courier Prime", monospace !default;

/*  SIMPLE COLOURS  */

//  For those without a lot of patience.

$labcoat-rearColor: $print_dim !default;
$labcoat-rearAccentColor: $print_black !default;
$labcoat-rearMinorColor: $print_dark !default;
$labcoat-frontColor: $print_bright !default;
$labcoat-frontAccentColor: $print_white !default;
$labcoat-frontMinorColor: $print_light !default;

$labcoat-invertedRearColor: $print_bright !default;
$labcoat-invertedRearAccentColor: $print_white !default;
$labcoat-invertedRearMinorColor: $print_light !default;
$labcoat-invertedFrontColor: $print_black !default;
$labcoat-invertedFrontAccentColor: $print_dark !default;
$labcoat-invertedFrontMinorColor: $print_dim !default;
$labcoat-invertedFrontVeryMinorColor: $print_medium !default;
$labcoat-invertedMidColor: $print !default;

/*  OPACITIES  */

$labcoat-headerBackgroundOpacity: .95 !default;
$labcoat-columnBackgroundOpacity: .95 !default;
$labcoat-notificationBackgroundOpacity: .4 !default;
//  Waiting for `backdrop-filter` to be implemented:
//  $labcoat-notificationBackgroundFilter: contrast(150%) blur(5pt) !default;
$labcoat-notificationForegroundOpacity: .85 !default;
$labcoat-curtainOpacity: .35 !default;
$labcoat-toggleInactiveOpacity: .4 !default;
$labcoat-leadingCommAtOpacity: .65 !default;

/*  BACKGROUNDS  */

//  These don't have to be plain colours if you don't want them to be.

$labcoat-queryBackground: linear-gradient(to top, $labcoat-rearAccentColor 20%, $labcoat-rearColor 80%) !default;
$labcoat-background: $labcoat-rearColor !default;

/*  ADVANCED COLOURS  */

//  Incredibly precise colour management.

$labcoat-backgroundColor: $labcoat-rearColor !default;
$labcoat-queryTextColor: $labcoat-frontColor !default;
$labcoat-queryTextMinor: $labcoat-frontMinorColor !default;
$labcoat-queryTextMajor: $labcoat-frontAccentColor !default;
$labcoat-queryMarkColor: $labcoat-rearAccentColor !default;
$labcoat-columnColor: $labcoat-rearAccentColor !default;
$labcoat-columnTextColor: $labcoat-frontColor !default;
$labcoat-columnAccentTextColor: $labcoat-frontAccentColor !default;
$labcoat-columnHeadingColor: $labcoat-invertedRearAccentColor !default;
$labcoat-columnHeadingTextColor: $labcoat-invertedFrontMinorColor !default;
$labcoat-cardColor: $labcoat-invertedRearColor !default;
$labcoat-cardTextColor: $labcoat-invertedFrontColor !default;
$labcoat-cardAccentTextColor: $labcoat-invertedFrontAccentColor !default;
$labcoat-cardHighlightColor: $labcoat-invertedRearAccentColor !default;
$labcoat-cardHighlightTextColor: $labcoat-invertedFrontMinorColor !default;
$labcoat-cardHighlightAccentTextColor: $labcoat-invertedFrontVeryMinorColor !default;
$labcoat-cardAsideColor: $labcoat-rearMinorColor !default;
$labcoat-cardAsideTextColor: $labcoat-frontMinorColor !default;
$labcoat-cardAsideAccentTextColor: $labcoat-frontColor !default;
$labcoat-headerColor: $labcoat-invertedRearAccentColor !default;
$labcoat-headerTextColor: $labcoat-invertedFrontMinorColor !default;
$labcoat-buttonColor: $labcoat-rearMinorColor !default;
$labcoat-buttonTextColor: $labcoat-frontAccentColor !default;
$labcoat-buttonHoverColor: $labcoat-rearAccentColor !default;
$labcoat-buttonHoverTextColor: $labcoat-frontColor !default;
$labcoat-actionColor: $labcoat-invertedRearAccentColor !default;
$labcoat-actionTextColor: $labcoat-invertedFrontAccentColor !default;
$labcoat-actionBorderColor: $labcoat-invertedMidColor !default;
$labcoat-actionHoverColor: $labcoat-invertedRearMinorColor !default;
$labcoat-actionHoverTextColor: $labcoat-invertedFrontColor !default;
$labcoat-actionActiveColor: $labcoat-rearColor !default;
$labcoat-actionActiveTextColor: $labcoat-frontAccentColor !default;
$labcoat-actionActiveHoverColor: $labcoat-rearAccentColor !default;
$labcoat-actionActiveHoverTextColor: $labcoat-frontColor !default;
$labcoat-curtainColor: $labcoat-rearColor !default;
$labcoat-moduleColor: $labcoat-invertedRearColor !default;
$labcoat-moduleTextColor: $labcoat-invertedFrontMinorColor !default;
$labcoat-moduleBorderColor: $labcoat-invertedMidColor !default;
$labcoat-moduleShadowColor: $labcoat-rearAccentColor !default;
$labcoat-moduleAccentTextColor: $labcoat-invertedFrontColor !default;
$labcoat-moduleAsideColor: $labcoat-invertedRearMinorColor !default;
$labcoat-moduleAsideTextColor: $labcoat-invertedFrontColor !default;
$labcoat-moduleAsideBorderColor: $labcoat-invertedFrontVeryMinorColor !default;
$labcoat-textboxColor: $labcoat-invertedRearAccentColor !default;
$labcoat-textboxTextColor: $labcoat-invertedFrontColor !default;
$labcoat-textboxPlaceholderColor: $labcoat-invertedMidColor;
$labcoat-textboxBorderColor: $labcoat-invertedMidColor !default;
$labcoat-composerMessageColor: $labcoat-invertedRearColor !default;
$labcoat-composerMessageTextColor: $labcoat-invertedFrontColor !default;
$labcoat-composerMessageBorderColor: $labcoat-invertedFrontVeryMinorColor !default;
$labcoat-accountFooterColor: $labcoat-invertedRearAccentColor !default;
$labcoat-accountFooterTextColor: $labcoat-invertedFrontVeryMinorColor !default;
$labcoat-toggleOffColor: $labcoat-invertedRearAccentColor !default;
$labcoat-toggleOnColor: $labcoat-rearAccentColor !default;
$labcoat-toggleHoverOffColor: $labcoat-invertedRearAccentColor !default;
$labcoat-toggleHoverOnColor: $labcoat-rearAccentColor !default;
$labcoat-toggleForegroundOffColor: $labcoat-rearMinorColor !default;
$labcoat-toggleForegroundOnColor: $labcoat-invertedRearMinorColor !default;
