#labcoat-ui {
  #labcoat-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.1em;
    margin: 0;
    padding: .35em 2rem;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    color: $labcoat-headerTextColor;
    background-color: transparentize($labcoat-headerColor, 1 - $labcoat-headerBackgroundOpacity);

    &:before, &:after {  //  Used for centering
      display: block;
      width: calc(50% - 33.5rem);  // 67rem = 3 * width of column - left padding (but not right)
      content: "";
    }

    h1 {
      display: inline;
      flex: auto;
      margin: 0 auto 0 0;
      padding: 0;
      overflow: hidden;
      font-size: 1.5em;
      font-weight: 900;
      text-transform: none;
      text-decoration: underline;
      text-overflow: ellipsis;
    }

    a[href] {
      color: inherit;
    }
  }
}
