#labcoat-instancequery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $labcoat-queryTextColor;
  background: $labcoat-queryBackground;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;

  code, pre {
    font-family: $labcoat-mono;
  }

  #labcoat-instancequeryinput {
    margin: 2.8rem 0 1.4rem;
    font-family: $labcoat-mono;
    font-size: 2.4rem;

    *.labcoat-username {
      color: $labcoat-queryTextMinor;

        &::before {
          opacity: $labcoat-leadingCommAtOpacity;
          content: "@";
        }
    }

    input {
      display: inline-block;
      margin: 0;
      border: none;
      border-bottom: thick $labcoat-queryTextColor solid;
      padding: 0;
      width: 24rem;
      color: $labcoat-queryTextMajor;
      background-color: $labcoat-queryMarkColor;
      font-size: inherit;
      font-family: inherit;
      text-align: center;

      &:invalid {
        color: $labcoat-queryTextMinor;
      }
    }
  }
}
