@charset "UTF-8";

*:root:root:root:root:root [hidden] {
  display: none;
}

html, body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: $labcoat-backgroundColor;
  font-family: $labcoat-sans;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.4;
}

#labcoat-ui {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  margin: 0;
  padding: 2.8rem 0 0;
  width: 100%;
  height: calc(100vh - 2.8rem);
  overflow: auto;
  background: $labcoat-background;
  font-family: $labcoat-sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.4;

  @media (max-width: 32rem) {
    -ms-scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -ms-scroll-snap-destination: 0 0;
    -webkit-scroll-snap-destination: 0 0;
    scroll-snap-destination: 0 0;
    -ms-scroll-snap-points-x: repeat(100%);
    -webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
  }

  &::before, &::after {  //  Used for centering
    display: block;
    width: calc(50% - 34.5rem);  //  69rem = 3 * width of column
    min-width: 1px;  //  Ensures that the element renders
    content: "";
  }

  &::before {
    margin-right: -1px;
  }

  &::after {
    margin-left: -1px;
  }

  a[href] {
    color: inherit;
    text-decoration: none;
    transition: color .35s;

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  code, pre {
    font-family: $labcoat-mono;
  }

  label {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: small-caps;

    & > span {
      overflow: hidden;
      text-overflow: ellipsis;

      *[data-labcoat-simple] &, &:empty {
        display: none;
      }
    }
  }

  *.labcoat-idcard {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .2em .4em;
    padding: 0;
    height: 1em;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 400;

    a[href] {
      color: inherit;

      :root:root:root & {
        color: inherit;
      }
    }

    *.labcoat-avatar {
      display: block;
      margin: 0 .2em 0;
      border-radius: .1em;
      height: 1em;
      width: 1em;
    }

    *.labcoat-displayname {
      display: block;
      font-size: .4em;
      line-height: 1.2;

      &:empty {
        text-align: center;

        &::after {
          content: "———";
        }
      }
    }

    *.labcoat-username {
      display: block;
      font-size: .4em;
      line-height: 1;
    }
  }

  *.labcoat-displayname {
    font-weight: 700;

    &:empty::after {
        content: "———";
    }
  }

  *.labcoat-username {
    font-family: $labcoat-mono;
    font-weight: 400;

    &::before {
      opacity: $labcoat-leadingCommAtOpacity;
      content: "@";
    }
  }

  *.labcoat-buttoncontainer {
    cursor: pointer;

    &.labcoat-buttoncontainer--disabled {
      cursor: not-allowed;
    }
  }

  *.labcoat-button {
    display: inline-block;
    flex: none;
    margin: 0 .4em;
    border: none;
    border-radius: .125em;
    padding: .2em .25em;
    color: $labcoat-buttonTextColor;
    background-color: $labcoat-buttonColor;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    transition: color .5s, background-color .5s;

    &:hover {
      color: $labcoat-buttonHoverTextColor;
      background-color: $labcoat-buttonHoverColor;
    }

    &[disabled], &[disabled]:hover {
      margin: -1px calc(.4em - 1px);
      border: 1px $labcoat-buttonColor solid;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  *.labcoat-actioncontainer {
    flex: auto;
    margin: 0;
    padding: .35em .5em;
    color: $labcoat-actionTextColor;
    background-color: $labcoat-actionColor;
    transition: color .5s, background-color .5s;
    cursor: pointer;

    &:hover {
      color: $labcoat-actionHoverTextColor;
      background-color: $labcoat-actionHoverColor;
    }

    &.labcoat-actioncontainer--active {
      color: $labcoat-actionActiveTextColor;
      background-color: $labcoat-actionActiveColor;

      &:hover {
        color: $labcoat-actionActiveHoverTextColor;
        background-color: $labcoat-actionActiveHoverColor;
      }
    }

    &.labcoat-actioncontainer--disabled {
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }

    & + .labcoat-actioncontainer {
      border-left: thin $labcoat-actionBorderColor solid;
    }
  }

  *.labcoat-action {
    display: inline-block;
    margin: 0 -.375em 0 .25em;
    border: none;
    padding: .1em 0;
    color: inherit;
    background-color: transparent;
    transition: color .5s, background-color .5s;

    &[disabled], &[disabled]:hover {
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }

    [data-labcoat-simple] & {
      margin: 0 .25em;
    }
  }

  *.labcoat-textbox {
    position: relative;
    margin: 0;
    border: thin $labcoat-textboxBorderColor solid;
    border-radius: .4em;
    padding: .675em 1em;
    outline: none;
    box-shadow: none;
    overflow: auto;
    resize: none;
    color: $labcoat-textboxTextColor;
    background-color: $labcoat-textboxColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    white-space: pre-wrap;
    appearance: none;
  }

  *.labcoat-textbox[aria-label]::before {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    opacity: 0;
    color: $labcoat-textboxPlaceholderColor;
    font-weight: 300;
    text-align: center;
    user-select: none;
    pointer-events: none;
    transition: opacity .25s;
    content: attr(aria-label);
  }

  *.labcoat-textbox[aria-label].labcoat-textbox--empty:not(:focus)::before {
    opacity: 1;
  }

  *.labcoat-toggle {
    margin: 0 .5em;
    border: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1.4;
    cursor: pointer;
  }

  *.labcoat-toggle-label {
    flex: auto;
    margin: 0 .5em;
    width: calc(50% - 2em);
    font-variant: small-caps;
    transition: opacity .25s;

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  *.labcoat-toggle-label-off {
    text-align: right;
    opacity: 1;
  }

  *.labcoat-toggle-label-on {
    text-align: left;
    opacity: $labcoat-toggleInactiveOpacity;
  }

  *.labcoat-toggle--checked {
    *.labcoat-toggle-label-off {
      opacity: $labcoat-toggleInactiveOpacity;
    }

    *.labcoat-toggle-label-on {
      opacity: 1;
    }
  }

  *.labcoat-toggle--disabled, *.labcoat-toggle--checked.labcoat-toggle--disabled {
    cursor: not-allowed;

    *.labcoat-toggle-label {
      opacity: $labcoat-toggleInactiveOpacity;
    }

    *.labcoat-toggle-track, *.labcoat-toggle-thumb {
      background: transparent;
      transition: background-color 0.25s;

      *[data-labcoat-reduce_motion] & {
        transition: none;
      }
    }
  }

  .labcoat-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  *.labcoat-toggle-track {
    display: inline-block;
    flex: none;
    position: relative;
    margin: .15em 0;
    width: 2em;
    height: 1em;
    padding: 0;
    border: 1px $labcoat-toggleOffColor solid;
    border-radius: .5em;
    color: $labcoat-toggleForegroundOffColor;
    background-color: $labcoat-toggleOffColor;
    font-size: 1.2em;
    line-height: 1;
    user-select: none;
    transition: all 0.25s ease;

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  *.labcoat-toggle:hover:not(.labcoat-toggle--disabled) *.labcoat-toggle-track, *.labcoat-toggle.labcoat-toggle--focus *.labcoat-toggle-track {
    background-color: $labcoat-toggleHoverOffColor;

    *[data-labcoat-reduce_motion] & {
      background-color: $labcoat-toggleOffColor;
    }
  }

  *.labcoat-toggle--checked *.labcoat-toggle-track {
    border-color: $labcoat-toggleOnColor;
    color: $labcoat-toggleForegroundOnColor;
    background-color: $labcoat-toggleOnColor;
  }

  *.labcoat-toggle.labcoat-toggle--checked:hover:not(.labcoat-toggle--disabled) *.labcoat-toggle-track, *.labcoat-toggle.labcoat-toggle--checked.labcoat-toggle--focus *.labcoat-toggle-track {
    background-color: $labcoat-toggleHoverOnColor;

    *[data-labcoat-reduce_motion] & {
      background-color: $labcoat-toggleOnColor;
    }
  }

  *.labcoat-toggle-track-check {
    position: absolute;
    height: 1em;
    top: 0;
    bottom: 0;
    left: .1875em;
    margin: auto;
    font-size: .675em;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.25s ease;

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  *.labcoat-toggle--checked *.labcoat-toggle-track-check {
    opacity: 1;
  }

  *.labcoat-toggle-track-x {
    position: absolute;
    height: 1em;
    top: 0;
    bottom: 0;
    right: .1875em;
    margin: auto;
    font-size: .675em;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.25s ease;

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  *.labcoat-toggle--checked *.labcoat-toggle-track-x {
    opacity: 0;
  }

  *.labcoat-toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    border: thin solid;
    border-color: inherit;
    border-radius: .5em;
    background-color: $labcoat-toggleForegroundOffColor;
    box-sizing: border-box;
    transition: all 0.25s ease;

    *[data-labcoat-reduce_motion] & {
      transition: none;
    }
  }

  *.labcoat-toggle--checked *.labcoat-toggle-thumb {
    left: 1em;
    background-color: $labcoat-toggleForegroundOnColor;
  }
}
